
/*.menusor{
    background-color:rgb(172, 53, 53);
    width: 80%;
    margin: auto;
    margin-top: 40px;
    border-radius: 30px;
    height: 50px;
}*/
body{
    background-color: #C72C41;
    color: #004d00;
    margin: 0;
    padding: 0;
    
}
ul{
    list-style-type: none;
    padding: 0 1.5rem 0 1rem;
    line-height: 3rem;
}
li{
    white-space: nowrap;
}
 i{
    margin-right: 1rem;
 }
 header{
    margin-bottom:1rem ;
    display: flex;
    height: 4.5rem;
    justify-content: space-between;
}

nav{
    position:absolute;
    top: 0;
    height: 100%;
    color: #ffffe6;
    background-color: #510A32;
   transform: translateX(-14rem );
    padding-top: 8.6rem;
    transition: transform 350ms ease-in-out;
    width: 14rem;
    
}
.menu-active{
    transform:translateX(0)
}
nav a{
    color: #ffffe6;
    text-decoration: none;
    font-size: 2rem;
    line-height: 4.5rem;
}

#hamburger.fa-solid.fa-xmark {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #510A32;

}
.kep1{
    height: 300px;
}
#hamburger{
    margin: 1.8rem 0 0 4rem;
    background-color: #510A32;
    color:#ffffe6;
    font-size: 3rem;
    z-index: 2;
    border-radius: 50%;
    padding: 2rem 2rem 2rem 2rem;
    width: 7rem;
}
.igen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('headline_2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: block;
   
}

.tartalom{
    height: 500px;
    margin-top: 500px;
}
.szovj{
    background-color: #EE4540;
    font-size: 2.5rem;
    color: #ffffe6;
    width: 55rem;
    margin: auto;
    border-radius: 25px;
    padding: 1rem ;
    margin-top: 1rem;
    float: right;
    height: 22rem;
    margin-right: 3rem;
}
.szovb{
    background-color: #EE4540;
    font-size: 2.5rem;
    color: #ffffe6;
    width: 55rem;
    margin: auto;
    border-radius: 25px;
    padding: 1rem ;
    margin-top: 1rem;
    float: left;
    height: 22rem;
    margin-left: 5rem;
    margin-right: 2rem;
}
.szovbk{
    background-color: #EE4540;
    font-size: 2.5rem;
    color: #ffffe6;
    width: 55rem;
    margin: auto;
    border-radius: 25px;
    padding: 1rem ;
    margin-top: 1rem;
    float: left;
    height: 22rem;
    width: 22rem;
    margin-left: 5rem;
    margin-right: 2rem;
}
.szovjk{
    background-color: #EE4540;
    font-size: 2.5rem;
    color: #ffffe6;
    width: 55rem;
    margin: auto;
    border-radius: 25px;
    padding: 1rem ;
    margin-top: 1rem;
    float: right;
    height: 22rem;
    width: 22rem;
    margin-right: 3rem;
}
/* 
#2D142C
#510A32
#801336
#C72C41
#EE4540

*/

